<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>parcel</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./home.css" type="text/css" />
</head>
<body>
    <div id="app">
        <div class="header" v-show="isShow">
            <el-form :inline="true" :model="formData" class="demo-form-inline">
                <el-form-item label="工艺路径" size="small">
                    <el-select v-model="formData.processPath" clearable placeholder="请选择">
                        <el-option v-for="item in processList" :key="item.ProcessFlowId" :label="item.Name"
                            :value="item.ProcessFlowId">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="工序" size="small">
                    <el-select v-model="formData.process" clearable multiple placeholder="请选择">
                        <el-option v-for="item in technologyList" :key="item.Id" :label="item.ProcessName"
                            :value="item.Id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="轮播间隔(秒)" size="small">
                    <el-input v-model="formData.carouselInterval" type="number"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">开始轮播</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div style="position: relative;">
            <div class="panel-title">
                <img class="panel-title-img" src="./LOGO.png" />
                <h2 class="panel-title-h2">{{processName}}{{techlonogyName}}排产进度看板</h2>
                <div style="position: absolute;top:0;right: 10px">
                    <span class="common-text" style="font-size: 23px;margin-right: 60px;">{{timeData.time}}</span>
                    <span style="display: inline-block;width: 110px;line-height: 18px;top: 7px;position: relative;">
                        <span class="common-text" style="display: inline-block;">{{timeData.data}}</span>
                        <span class="common-text" style="display: inline-block;">{{timeData.week}}</span>
                    </span>
                </div>
            </div>
            <span @click="showHead" class="icon-button">
                <i class="el-icon-arrow-up" v-show="isShow"></i>
                <i class="el-icon-arrow-down" v-show="!isShow"></i>
            </span>
        </div>
        <div class="panel-top">
            <div class="left1 fixed-height">
                <h3 class="text-center common-text">生产进度</h3>
                <el-progress type="circle" :percentage="prduction.ProductionSchedule" :width='180' class="progress-box">
                </el-progress>
                <div class="progress-detail">
                    <p class="box1">
                        <span>今日计划平方</span>
                        <span style="color: #e87f8d;font-size: 30px;">{{prduction.PlanArea}}方</span>
                    </p>
                    <p class="box1">
                        <span>今日完成平方</span>
                        <span style="color: #fefe00;font-size: 30px;">{{prduction.FinishedArea}}方</span>
                    </p>
                </div>

            </div>
            <div class="right1 fixed-height">
                <h3 class="text-center common-text">今日未完成任务</h3>
                <el-table class="tableForm" :data="unFinshTableData" height="240" border>
                    <el-table-column type="index" label="序号" width="50"></el-table-column>
                    <el-table-column v-for="(item, index) in unFinshColumn" show-overflow-tooltip :key="index"
                        :prop="item.prop" :label="item.label" :width="item.width">
                        <template slot-scope="scope">
                            <span v-if="item.prop === 'Status'"
                                :class="{'status-1': scope.row.Status === 2, 'status-2': scope.row.Status === 1}">{{scope.row.StatusDes}}</span>
                            <span v-else-if="item.prop === 'UrgentStatus'"
                                :class="{'status-3': scope.row.UrgentStatus === 1}">{{scope.row.UrgentStatusDes}}</span>
                            <span v-else>{{scope.row[item.prop]}}</span>
                        </template>
                    </el-table-column>
                </el-table>
                <p class="pagination-box">
                    <span v-for="(item, index) in totalPage" :class="{'current-page': curPage === item}" class="single-box">{{item}}</span>
                </p>
                <p class="plan-num">
                    <span class="common-text">任务数：</span>
                    <span class="red-color-text">{{prduction.TotalTaskNum}}</span>
                </p>
            </div>
        </div>
        <div class="panel-bottom">
            <div class="left1">
                <h3 class="text-center common-text">排行榜</h3>
                <el-table class="tableForm" :data="rankingList" height="240" border>
                    <el-table-column type="index" label="排名" width="50"></el-table-column>
                    <el-table-column v-for="(item, index) in rankingColumn2" show-overflow-tooltip :key="index"
                        :prop="item.prop" :label="item.label" :width="item.width">
                    </el-table-column>
                </el-table>
            </div>
            <div class="right1">
                <h3 class="text-center common-text">今日完成任务</h3>
                <el-table class="tableForm" :data="finshTableData" height="240" border>
                    <el-table-column type="index" label="序号" width="50"></el-table-column>
                    <el-table-column v-for="(item, index) in finshColumn" show-overflow-tooltip :key="index"
                        :prop="item.prop" :label="item.label" :width="item.width">
                        <template slot-scope="scope">
                            <span v-if="item.prop === 'Status'"
                                :class="{'status-4': scope.row.Status === 3}">{{scope.row.StatusDes}}</span>
                            <span v-else>{{scope.row[item.prop]}}</span>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //创建根实例
        new Vue({
            el: "#app",
            data: {
                totalPage: 4,
                curPage: 1,
                technologyList: [],
                processList: [],
                technologyTotalDate: [],
                formData: {
                    processPath: [], // 工艺路径
                    process: [], // 工序
                    carouselInterval: 5 // 轮播间隔
                },
                prduction: {
                    ProductionSchedule: 0,
                    PlanArea: 0,
                    FinishedArea: 0,
                    TotalTaskNum: 0
                },
                timeData: {
                    week: '',
                    date: '',
                    time: ''
                },
                processName: '',
                techlonogyName: '',
                isShow: true,
                technologyNum: 0,
                totalNum: [],
                unFinshTableData: [],
                finshTableData: [],
                rankingList: [],
                unFinshColumn: [{
                        'label': '状态',
                        'width': '120',
                        'prop': 'Status'
                    },
                    {
                        'label': '任务号',
                        'width': '150',
                        'prop': 'TaskNO'
                    },
                    {
                        'label': '工艺',
                        'width': '120',
                        'prop': 'TechnologyRuleName'
                    },
                    {
                        'label': '负责人',
                        'width': '120',
                        'prop': 'Operators'
                    },
                    {
                        'label': '开始时间',
                        'width': '150',
                        'prop': 'ScanningStartDate'
                    },
                    {
                        'label': '平方数',
                        'width': '120',
                        'prop': 'PanelArea'
                    },
                    {
                        'label': '收货人',
                        'width': '120',
                        'prop': 'Receiver'
                    },
                    {
                        'label': '板件数',
                        'width': '120',
                        'prop': 'PanelCount'
                    },
                    {
                        'label': '二次加工部件',
                        'width': '150',
                        'prop': 'SecondaryWorking'
                    },
                    {
                        'label': '紧急情况',
                        'width': '',
                        'prop': 'UrgentStatus'
                    }
                ],
                finshColumn: [{
                        'label': '状态',
                        'width': '120',
                        'prop': 'Status'
                    },
                    {
                        'label': '任务号',
                        'width': '150',
                        'prop': 'TaskNO'
                    },
                    {
                        'label': '工艺',
                        'width': '120',
                        'prop': 'TechnologyRuleName'
                    },
                    {
                        'label': '负责人',
                        'width': '',
                        'prop': 'Operators'
                    },
                    {
                        'label': '开始时间',
                        'width': '150',
                        'prop': 'ScanningStartDate'
                    },
                    {
                        'label': '完成时间',
                        'width': '150',
                        'prop': 'ScanningDate'
                    },
                    {
                        'label': '耗时（分钟）',
                        'width': '120',
                        'prop': 'TimeConsuming'
                    },
                    {
                        'label': '平方数',
                        'width': '120',
                        'prop': 'PanelArea'
                    },
                    {
                        'label': '收货人',
                        'width': '120',
                        'prop': 'Receiver'
                    },
                    {
                        'label': '板件数',
                        'width': '120',
                        'prop': 'PanelCount'
                    },
                    {
                        'label': '二次加工部件',
                        'width': '150',
                        'prop': 'SecondaryWorking'
                    }
                ],
                rankingColumn2: [

                    {
                        'label': '姓名',
                        'width': '120',
                        'prop': 'Operator'
                    },
                    {
                        'label': '完成方数',
                        'width': '120',
                        'prop': 'FinishedArea'
                    },
                    {
                        'label': '每平方耗时(分钟)',
                        'width': '',
                        'prop': 'TimeConsuming'
                    }
                ],
                tableData: [],
            },
            mounted() {
                let self = this;
                //工序数据
                let technologyParam =
                    "{Encrypted:false,Session:null,Controller:\"ScanningProcessConfigController\",Method:\"GetSystemScanningProcessConfigList\",Params:{},Param:null}";
                axios.defaults.headers.post['Content-Type'] =
                    'application/x-www-form-urlencoded; charset=UTF-8';
                axios.post('/SmartWebService.asmx/SwjInterface', "param=" + technologyParam).then(function (
                    response) {
                    self.technologyList = response.data.Message;

                });
                //工艺数据
                let processParam =
                    "{Encrypted:false,Session:null,Controller:\"ProcessFlowController\",Method:\"GetAllPFlow\",Params:{},Param:null}";
                axios.defaults.headers.post['Content-Type'] =
                    'application/x-www-form-urlencoded; charset=UTF-8';
                axios.post('/SmartWebService.asmx/SwjInterface', "param=" + processParam).then(function (
                    response) {
                    console.log(response);
                    self.processList = response.data.Message;

                });
                this.lock();
                setInterval(this.lock, 1000);
            },
            methods: {
                onSubmit() {
                    this.totalNum = this.formData.process;
                    this.technologyNum = 0;
                    var processId = this.formData.processPath;
                    for (var i = 0; i < this.processList.length; i++) {
                        var processModel = this.processList[i];
                        if (processModel.ProcessFlowId === processId) {
                            this.processName = processModel.Name + "-";
                            break;
                        }
                    }
                    this.getList();
                    setInterval(this.getList, this.formData.carouselInterval * 1000);

                },
                processListChange(value) {
                    if (value) {
                        this.technologyList = this.technologyTotalDate.filter(c => {
                            return c.Process === value;
                        });
                    } else {
                        this.technologyList = [];
                    }
                },
                showHead() {
                    this.isShow = !this.isShow;
                },
                getList() {
                    let self = this;
                    let techlonogyid = self.totalNum[self.technologyNum];
                    let processid = this.formData.processPath;
                    for (var i = 0; i < self.technologyList.length; i++) {
                        var technologyModel = self.technologyList[i];
                        if (technologyModel.Id === techlonogyid) {
                            self.techlonogyName = technologyModel.ProcessName + "-";
                            break;
                        }
                    }
                    let listParam =
                        "{Encrypted:false,Session:null,Controller:\"ScaningProcessLogController\",Method:\"GetTaskTechnology\",Params:{processFlowId:" +
                        processid + ",processId:" + techlonogyid + "},Param:null}";
                    this.tableData = []
                    axios.defaults.headers.post['Content-Type'] =
                        'application/x-www-form-urlencoded; charset=UTF-8';
                    axios.post('/SmartWebService.asmx/SwjInterface', "param=" + listParam).then(function (
                        response) {
                        self.unFinshTableData = response.data.Message.UnFinishedList;
                        self.finshTableData = response.data.Message.FinishedList;
                        self.rankingList = response.data.Message.RankingList;
                        self.prduction = response.data.Message.TaskInfo;
                        self.technologyNum = self.technologyNum + 1;
                        if (self.technologyNum === self.totalNum.length) {
                            self.technologyNum = 0;
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
                lock() {
                    var time = new Date();
                    var hours, minutes, seconds;
                    this.timeData.data = time.getFullYear() + "年" + (time.getMonth() + 1) + "月" + time
                        .getDate() + "日";
                    var intHours = time.getHours();
                    var intMinutes = time.getMinutes();
                    var intSeconds = time.getSeconds();
                    if (intHours === 0) {
                        hours = "00";
                    } else if (intHours < 10) {
                        hours = "0" + intHours;
                    } else {
                        hours = intHours;
                    }
                    if (intMinutes === 0) {
                        minutes = "00";
                    } else if (intMinutes < 10) {
                        minutes = "0" + intMinutes;
                    } else {
                        minutes = intMinutes;
                    }
                    if (intSeconds === 0) {
                        seconds = "00";
                    } else if (intSeconds < 10) {
                        seconds = "0" + intSeconds;
                    } else {
                        seconds = intSeconds;
                    }
                    this.timeData.time = hours + ":" + minutes + ":" + seconds;
                    var week;
                    switch (time.getDay()) {
                        case 1:
                            week = "星期一";
                            break;
                        case 2:
                            week = "星期二";
                            break;
                        case 3:
                            week = "星期三";
                            break;
                        case 4:
                            week = "星期四";
                            break;
                        case 5:
                            week = "星期五";
                            break;
                        case 6:
                            week = "星期六";
                            break;
                        default:
                            week = "星期日";
                    }
                    this.timeData.week = week;
                }
            }
        })
    </script>
</body>

</html>